@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize Interaction */

/* Button Animations */
.btn-click {
  @apply duration-100 ease-out cursor-pointer active:scale-95;
}

.btn-click-icon {
  @apply duration-300 ease-out active:rotate-45 active:scale-[.1];
}

/* Card Hover Animation */
.profile-hover:hover {
  @apply duration-300 ease-out border-4 cursor-pointer;
}

/* SideNavbar Animation */
.sidebarShow {
  @apply translate-x-0;
}

.sidebarHide {
  @apply -translate-x-full;
}

/* My custom truncate */
.truncate2ndLine {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* My custom gradient */
.mobileNavGradient {
  background: rgb(18, 10, 48);
  background: linear-gradient(
    0deg,
    rgba(18, 10, 48, 1) 0%,
    rgba(18, 10, 48, 1) 20%,
    rgba(18, 10, 48, 0) 100%
  );
}

/* My custom scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: black;
}

/* CSS reset for clickable components */

img,
button,
a,
.card,
.btn-click {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
